* { margin: 0; padding: 0; box-sizing: border-box; }

body{
    overflow: hidden;
}

body > div > div:nth-child(2) > div{
    position: fixed; bottom: 0; width: 100%;
}

#escribiendo {
    position: fixed; bottom: 56px; width: 100%; display: none;
}

#users-connected{
    list-style-type: none;
    overflow-y: scroll;
    height: 88%;
    position: fixed;
    left: 0px;
    margin-top: 50px;
}

#users-connected > li:nth-child(even){
    padding: 10px 10px 10px 10px;
    border-style: solid;
    border-color: blue;
    background-color: blue;
    color: white;
    font-weight: bold;
}

#users-connected > li:nth-child(odd){
    padding: 10px 10px 10px 10px;
    border-style: solid;
    border-color: red;
    background-color: red;
    color: white;
    font-weight: bold;
}

#messages{
    list-style-type: none;
    overflow-y: scroll;
    height: 88%;
    position: fixed;
    margin-top: 50px;
}

#messages > li {
    padding: 10px 10px 10px 10px;
}

#messages > li:nth-child(even){
    background-color: darkgrey;
    font-weight: bold;
}

body > div > div:nth-child(2) > div{
    background-color: black;
    padding-top: 5px;
}